<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gym Bro{% endblock %}</title>

    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" href="/static/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/static/favicon/icon.svg" type="image/svg+xml">
    <link rel="yandex-tableau-widget" href="/static/favicon/tableau.json">
    <link rel="manifest" href="/static/manifest.webmanifest">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic|Source+Code+Pro:500">
    <link rel="stylesheet" href="/static/css/base.css"/>

    {% block additional_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a class="nav-links" href="/">Home page</a>
        </nav>
        <div class="main-content">
            {% block main_content %}{% endblock %}
        </div>
        <footer>
            <div class="copyright">
              <p>KTO TO TAM 2024 </p>
              <a href="https://github.com/da-maltsev/gymBro" target="_blank">Repo on github</a>
            </div>
        </footer>
    </div>
    {% block additional_js %}{% endblock %}
</body>
</html>